# PicFast 环境变量示例文件
# 复制此文件到 .env 并填入适当的值

# 基本设置
PROJECT_NAME=FastAPIX
PROJECT_VERSION=0.1.0
ENVIRONMENT=dev  # 可选值: dev, pro, test
DEBUG=True

# 服务器设置
HOST=0.0.0.0
PORT=8099
WORKERS=1
RELOAD=True

# Redis配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_MAX_CONNECTIONS=10
REDIS_TIMEOUT=5
REDIS_RETRY_ON_TIMEOUT=True
REDIS_KEY_PREFIX=fastapix:
REDIS_DEFAULT_EXPIRE=86400

# MySQL配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=ZH$$ewA38pjgyn
MYSQL_DATABASE=fastapix_db
MYSQL_CHARSET=utf8mb4
MYSQL_POOL_SIZE=5
MYSQL_POOL_RECYCLE=3600
MYSQL_MAX_OVERFLOW=10
MYSQL_ECHO=False

# Token
TOKEN_SECRET_KEY='1VkVF75nsNABBjK_7-qz7GtzNy3AMvktc9TCPwKczCk'

# 日志配置
LOG_LEVEL=INFO
# 日志格式已经在代码中配置，可在core/conf.py中修改LOG_FORMAT
LOG_DIR=logs
LOG_INFO_FILENAME=info.log
LOG_ERROR_FILENAME=error.log
LOG_JSON_FORMAT=False
LOG_CONSOLE_COLOR=True
LOG_FILE_ROTATION=10 MB
LOG_FILE_BACKUP_COUNT=5
LOG_CUSTOMIZE_INFO_FILENAME=customize_info.log
LOG_CUSTOMIZE_ERROR_FILENAME=customize_error.log

# Opera Log
OPERA_LOG_ENCRYPT_SECRET_KEY='d77b25790a804c2b4a339dd0207941e4cefa5751935a33735bc73bb7071a005b'