# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# 环境相关
.env
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# 日志和缓存
logs/
.cache/
*.log

# 测试相关
.coverage
.pytest_cache/
htmlcov/
tests/

# 项目特定
media/
/deploy/docker_env/mysql/data/
/deploy/docker_env/redis/data/

# 其他
.DS_Store
*.swp
*.swo
